## Importación de librerias

In [40]:
# Importamos sqlite3, la librería estándar de Python para trabajar con bases de datos SQLite
# SQLite es una base de datos embebida que no requiere servidor
import sqlite3

# Importamos datetime para trabajar con fechas y horas
# Esto nos permitirá registrar cuándo ocurren eventos (ej: fecha de registro de cliente)
from datetime import datetime

# Importamos pandas para visualizar mejor los resultados (opcional pero recomendado)
# Pandas nos permite mostrar los datos en formato tabla más legible
import pandas as pd

# Mensaje de confirmación para saber que todo se importó correctamente
print("Librerías importadas correctamente")

Librerías importadas correctamente

In [41]:
# Creamos la conexión a la base de datos
# sqlite3.connect() crea un archivo .db si no existe o se conecta a uno existente
# Si el archivo 'Proyecto_SQL.db' no existe, se creará automáticamente
conexion = sqlite3.connect('Proyecto_SQL.db')

# Creamos un cursor, que es el objeto que usaremos para ejecutar comandos SQL
# El cursor es como un "puntero" que nos permite navegar y modificar la base de datos
cursor = conexion.cursor()

# Mensajes informativos para confirmar que la conexión fue exitosa
print("Conexión establecida exitosamente")
print(f"Base de datos: Proyecto_SQL.db")

Conexión establecida exitosamente
Base de datos: Proyecto_SQL.db

## Importacion de datos de partida

In [42]:
df_1 = pd.read_csv("./data/clase_1.csv", sep= ";")
df_2 = pd.read_csv("./data/clase_2.csv", sep= ";")
df_3 = pd.read_csv("./data/clase_3.csv", sep= ";")
df_4 = pd.read_csv("./data/clase_4.csv", sep= ";")
df_5 = pd.read_csv("./data/claustro.csv", sep= ";")

In [43]:
df_1.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto

In [44]:
df_2.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto

In [45]:
df_3.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto

In [46]:
df_4.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto

In [47]:
df_5.head()

              Nombre Rol Vertical   Promocion    Campus   Modalidad
0          Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1  Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2         Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3      Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4   Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial

In [48]:
# Merge de los 4 primeros dataframe al tratarse del mismo tipo de información
df_total = df_1.merge(df_2, how= 'outer').merge(df_3,how= 'outer').merge(df_4, how= 'outer')
df_total.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
2,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
3,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
4,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto

## Creación de tablas

#### Campus

In [49]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Campus')

# Creamos la tabla Campus con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Campus (
        id_campus INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_campus VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Campus creada exitosamente")

✓ Tabla Campus creada exitosamente

#### Profesor

In [50]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Profesor')

# Creamos la tabla Profesor con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Profesor (
        id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_profesor VCHAR(100) NOT NULL,
        rol VCHAR(20) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Profesor creada exitosamente")

✓ Tabla Profesor creada exitosamente

#### Vertical

In [51]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Vertical')

# Creamos la tabla Vertical con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Vertical (
        id_vertical INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_vertical VCHAR(50) NOT NULL,
        id_proyectos INTEGER NOT NULL,
        FOREIGN KEY (id_proyectos) REFERENCES Proyecto(id_proyectos) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Vertical creada exitosamente")

✓ Tabla Vertical creada exitosamente

#### Promoción

In [52]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Promocion')

# Creamos la tabla Promocion con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Promocion (
        id_promocion INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_promocion VCHAR(50) NOT NULL,
        fecha_promocion DATE NOT NULL,
        modalidad VCHAR(20) NOT NULL,
        id_campus INTEGER NOT NULL,
        id_profesor INTEGER NOT NULL,
        id_vertical INTEGER NOT NULL,
        FOREIGN KEY (id_campus) REFERENCES Campus(id_campus) ON DELETE CASCADE,
        FOREIGN KEY (id_profesor) REFERENCES Profesor(id_profesor) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Promocion creada exitosamente")

✓ Tabla Promocion creada exitosamente

#### Alumno

In [53]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Alumno')

# Creamos la tabla Alumno con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Alumno (
        id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_alumno VCHAR(50) NOT NULL,
        email_alumno VCHAR(100) NOT NULL,
        id_promocion INTEGER NOT NULL,
        FOREIGN KEY (id_promocion) REFERENCES Promocion(id_promocion) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Alumno creada exitosamente")

✓ Tabla Alumno creada exitosamente

#### Proyectos

In [54]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Proyecto')

# Creamos la tabla Proyecto con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Proyectos (
        id_proyectos INTEGER PRIMARY KEY AUTOINCREMENT,
        id_alumno INTEGER NOT NULL,
        proyecto_HLF VCHAR(20),
        proyecto_EDA VCHAR(20),
        proyecto_BBDD VCHAR(20),
        proyecto_ML VCHAR(20),
        proyecto_Deployment VCHAR(20),
        proyecto_WebRev VCHAR(20),
        proyecto_FrontEnd VCHAR(20),
        proyecto_BackEnd VCHAR(20),
        proyecto_React VCHAR(20),
        proyecto_FullStack VCHAR(20),
        FOREIGN KEY (id_alumno) REFERENCES Alumno(id_alumno) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Proyecto creada exitosamente")

✓ Tabla Proyecto creada exitosamente

### Verificar tablas creadas

In [55]:
# Consultamos la tabla sqlite_master que contiene información sobre todas las tablas
# sqlite_master es una tabla especial del sistema que almacena metadatos
# WHERE type='table' filtra solo las tablas (no vistas, índices, etc.)
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

# fetchall() obtiene todos los resultados de la consulta como una lista de tuplas
tablas = cursor.fetchall()

print("Tablas en la base de datos:")
print("="*40)
# Iteramos sobre cada tabla encontrada
for tabla in tablas:
    # tabla[0] contiene el nombre de la tabla (primera columna del resultado)
    print(f"  • {tabla[0]}")

Tablas en la base de datos:
========================================
  • sqlite_sequence
  • Campus
  • Profesor
  • Vertical
  • Promocion
  • Alumno
  • Proyectos

## Insertar registros

#### Campus

In [56]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
campus_intro = [
    ('Madrid',), ('Valencia',)
]

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Campus (nombre_campus)
    VALUES (?)
''', campus_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(campus_intro)} campus insertados correctamente")

✓ 2 campus insertados correctamente

#### Profesor

In [57]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
profesor_intro = list(df_5[['Nombre', 'Rol']].itertuples(index=False, name=None))

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Profesor (nombre_profesor, rol)
    VALUES (?, ?)
''', profesor_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(profesor_intro)} campus insertados correctamente")

✓ 10 campus insertados correctamente

#### Vertical

#### Promocion

#### Alumnos

#### Proyectos

In [58]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
profesor_intro = list(df_total.iloc[:, 5:len(df_total)].itertuples(index=False, name=None))

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Proyectos (proyecto_HLF, proyecto_EDA, proyecto_BBDD, proyecto_ML, proyecto_Deployment, 
    proyecto_WebRev, proyecto_FrontEnd, proyecto_BackEnd, proyecto_React, proyecto_FullStack)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', profesor_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(profesor_intro)} campus insertados correctamente")

IntegrityError: NOT NULL constraint failed: Proyectos.id_alumno