![SQLite](./img/sqlite.png)

# Proyecto SQLite  
Proyecto de creación de una bbdd

#### Índice  
1. [Importación de librerias](#importación-de-librerias)
2. [Importación de datos](#importacion-de-datos-de-partida)
3. [Creación de tablas](#creación-de-tablas)
4. [Insertar registros](#insertar-registros)
5. [Query](#pruebas-de-query)

## Importación de librerias

In [ ]:
# Importamos sqlite3, la librería estándar de Python para trabajar con bases de datos SQLite
# SQLite es una base de datos embebida que no requiere servidor
import sqlite3

# Importamos datetime para trabajar con fechas y horas
from datetime import datetime

# Importamos pandas para visualizar mejor los resultados
import pandas as pd

# Mensaje de confirmación para saber que todo se importó correctamente
print("Librerías importadas correctamente")

In [ ]:
# Creamos la conexión a la base de datos
# sqlite3.connect() crea un archivo .db si no existe o se conecta a uno existente
# Si el archivo 'Proyecto_SQL.db' no existe, se creará automáticamente
conexion = sqlite3.connect('Proyecto_SQL.db')

# Creamos un cursor, que es el objeto que usaremos para ejecutar comandos SQL
# El cursor es como un "puntero" que nos permite navegar y modificar la base de datos
cursor = conexion.cursor()

# Mensajes informativos para confirmar que la conexión fue exitosa
print("Conexión establecida exitosamente")
print(f"Base de datos: Proyecto_SQL.db")

## Importacion de datos de partida

In [ ]:
df_1 = pd.read_csv("./data/clase_1.csv", sep= ";")
df_2 = pd.read_csv("./data/clase_2.csv", sep= ";")
df_3 = pd.read_csv("./data/clase_3.csv", sep= ";")
df_4 = pd.read_csv("./data/clase_4.csv", sep= ";")
df_5 = pd.read_csv("./data/claustro.csv", sep= ";")

In [ ]:
df_1.head()

In [ ]:
df_2.head()

In [ ]:
df_3.rename(columns= {"Proyecto_FullSatck": "Proyecto_FullStack"}, inplace= True)
df_3.head()

In [ ]:
df_4.rename(columns= {"Proyecto_FullSatck": "Proyecto_FullStack"}, inplace= True)
df_4.head()

In [ ]:
df_5.head()

In [ ]:
# Merge de los 4 primeros dataframe al tratarse del mismo tipo de información y renombrar df_5
df_alumnos = df_1.merge(df_2, how= 'outer').merge(df_3,how= 'outer').merge(df_4, how= 'outer')
df_profesores = df_5
df_alumnos.head()

## Creación de tablas

#### Campus

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Campus')

# Creamos la tabla Campus con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Campus (
        id_campus INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_campus VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Campus creada exitosamente")

#### Modalidad

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Modalidad')

# Creamos la tabla Modalidad con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Modalidad (
        id_modalidad INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_modalidad VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Modalidad creada exitosamente")

#### Promocion

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Promocion')

# Creamos la tabla Promocion con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Promocion (
        id_promocion INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_promocion VCHAR(50) NOT NULL,
        fecha_promocion DATE NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Promocion creada exitosamente")

#### Profesor

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Profesor')

# Creamos la tabla Profesor con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Profesor (
        id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
        id_clase INTEGER,
        nombre_profesor VCHAR(50) NOT NULL,
        rol VCHAR(50) NOT NULL,
        FOREIGN KEY (id_clase) REFERENCES Clases(id_clase) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Profesor creada exitosamente")

#### Clase

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Clase')

# Creamos la tabla Clase con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Clase (
        id_clase INTEGER PRIMARY KEY AUTOINCREMENT,
        id_campus INTEGER,
        id_modalidad INTEGER,
        id_promocion INTEGER,
        id_vertical INTEGER,
        FOREIGN KEY (id_campus) REFERENCES Campus(id_campus) ON DELETE CASCADE,
        FOREIGN KEY (id_modalidad) REFERENCES Modalidad(id_modalidad) ON DELETE CASCADE,
        FOREIGN KEY (id_promocion) REFERENCES Promocion(id_promocion) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Clase creada exitosamente")

#### Alumnos

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Alumnos')

# Creamos la tabla Alumnos con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Alumnos (
        id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_alumno VCHAR(50) NOT NULL,
        email_alumno VCHAR(50) NOT NULL,
        id_clase INTEGER,
        FOREIGN KEY (id_clase) REFERENCES Clase(id_clase) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Alumnos creada exitosamente")

#### Proyectos

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Proyectos')

# Creamos la tabla Proyectos con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Proyectos (
        id_proyecto INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_proyecto VCHAR(50) NOT NULL,
        id_alumno INTEGER,
        id_vertical INTEGER,
        FOREIGN KEY (id_alumno) REFERENCES Alumno(id_alumno) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Proyectos creada exitosamente")

#### Notas

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Notas')

# Creamos la tabla Notas con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Notas (
        id_nota INTEGER PRIMARY KEY AUTOINCREMENT,
        resultado VCHAR(50) NOT NULL,
        id_proyecto INTEGER,
        id_alumno INTEGER,
        FOREIGN KEY (id_proyecto) REFERENCES Proyectos(id_proyecto) ON DELETE CASCADE,
        FOREIGN KEY (id_alumno) REFERENCES Alumnos(id_alumno) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Notas creada exitosamente")

#### Vertical

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Vertical')

# Creamos la tabla Vertical con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Vertical (
        id_vertical INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_vertical VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Vertical creada exitosamente")

## Insertar registros

In [ ]:
# Funcíon para extraer datos de los datasets
def extraer_datos(indices, dataset):
    """
    Función para extraer los valores de los dataset y convertirlos en lista de tuplas

    Args:
        indices (list): Lista con los nombres de las columnas a extraer
        dataset (str): Nombre del dataset a extraer
    """
    
    return dataset[indices].dropna().drop_duplicates().apply(tuple, axis=1).tolist()

#### Campus

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
campus_intro = extraer_datos(["Campus"], df_alumnos)

cursor.executemany('''
    INSERT OR IGNORE INTO Campus (nombre_campus)
    VALUES (?)
''', campus_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(campus_intro)} campus insertados correctamente")

#### Modalidad

In [ ]:
extraer_datos(["Modalidad"], df_profesores)

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
modalidad_intro = extraer_datos(["Modalidad"], df_profesores)

cursor.executemany('''
    INSERT OR IGNORE INTO Modalidad (nombre_modalidad)
    VALUES (?)
''', modalidad_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(modalidad_intro)} modalidades insertadas correctamente")

#### Promocion

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
promocion_intro = extraer_datos(["Promoción", "Fecha_comienzo"], df_alumnos)

cursor.executemany('''
    INSERT OR IGNORE INTO Promocion (nombre_promocion, fecha_promocion)
    VALUES (?, ?)
''', promocion_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(promocion_intro)} promociones insertadas correctamente")

#### Vertical

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
vertical_intro = extraer_datos(["Vertical"], df_profesores)

cursor.executemany('''
    INSERT OR IGNORE INTO Vertical (nombre_vertical)
    VALUES (?)
''', vertical_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(vertical_intro)} verticales insertadas correctamente")

#### Clase

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
clases = df_profesores[['Campus', 'Modalidad', 'Promocion', 'Vertical']].drop_duplicates()

for _, row in clases.iterrows():
    # Obtener IDs
    id_campus = cursor.execute('SELECT id_campus FROM Campus WHERE nombre_campus = ?', 
                                (row['Campus'],)).fetchone()[0]
    id_modalidad = cursor.execute('SELECT id_modalidad FROM Modalidad WHERE nombre_modalidad = ?', 
                                    (row['Modalidad'],)).fetchone()[0]
    id_promocion = cursor.execute('SELECT id_promocion FROM Promocion WHERE nombre_promocion = ?', 
                                    (row['Promocion'],)).fetchone()[0]
    id_vertical = cursor.execute('SELECT id_vertical FROM Vertical WHERE nombre_vertical = ?', 
                                (row['Vertical'],)).fetchone()[0]
    
    cursor.execute('''
        INSERT OR IGNORE INTO Clase (id_campus, id_modalidad, id_promocion, id_vertical)
        VALUES (?, ?, ?, ?)
    ''', (id_campus, id_modalidad, id_promocion, id_vertical))

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(clases)} clases insertadas correctamente")

#### Profesor

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
for _, row in df_profesores.iterrows():
    # Obtener id_clase
    id_campus = cursor.execute('SELECT id_campus FROM Campus WHERE nombre_campus = ?', 
                                (row['Campus'],)).fetchone()[0]
    id_modalidad = cursor.execute('SELECT id_modalidad FROM Modalidad WHERE nombre_modalidad = ?', 
                                    (row['Modalidad'],)).fetchone()[0]
    id_promocion = cursor.execute('SELECT id_promocion FROM Promocion WHERE nombre_promocion = ?', 
                                    (row['Promocion'],)).fetchone()[0]
    id_vertical = cursor.execute('SELECT id_vertical FROM Vertical WHERE nombre_vertical = ?', 
                                (row['Vertical'],)).fetchone()[0]
    
    id_clase = cursor.execute('''
        SELECT id_clase FROM Clase 
        WHERE id_campus = ? AND id_modalidad = ? AND id_promocion = ? AND id_vertical = ?
    ''', (id_campus, id_modalidad, id_promocion, id_vertical)).fetchone()[0]
    
    cursor.execute('''
        INSERT INTO Profesor (nombre_profesor, rol, id_clase)
        VALUES (?, ?, ?)
    ''', (row['Nombre'], row['Rol'], id_clase))

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(df_profesores)} profesores insertados correctamente")

#### Proyectos

In [ ]:
# Creamos una lista de tuplas con los datos a insertar
proyectos_columnas = ['Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML',
                        'Proyecto_Deployment', 'Proyecto_WebDev', 'Proyecto_FrontEnd', 
                        'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullStack']

# Mapeo de proyectos a verticales
proyecto_vertical_map = {
    'Proyecto_HLF': 'DS',
    'Proyecto_EDA': 'DS',
    'Proyecto_BBDD': 'DS',
    'Proyecto_ML': 'DS',
    'Proyecto_Deployment': 'DS',
    'Proyecto_WebDev': 'FS',
    'Proyecto_FrontEnd': 'FS',
    'Proyecto_Backend': 'FS',
    'Proyecto_React': 'FS',
    'Proyecto_FullStack': 'FS'
}

for proyecto in proyectos_columnas:
    vertical_nombre = proyecto_vertical_map.get(proyecto)
    id_vertical = None
    if vertical_nombre:
        result = cursor.execute('SELECT id_vertical FROM Vertical WHERE nombre_vertical = ?', 
                                (vertical_nombre,)).fetchone()
        if result:
            id_vertical = result[0]
    
    cursor.execute('''
        INSERT OR IGNORE INTO Proyectos (nombre_proyecto, id_vertical)
        VALUES (?, ?)
    ''', (proyecto, id_vertical))
    
# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(proyectos_columnas)} proyectos insertados correctamente")

#### Alumnos y Notas

In [ ]:
alumnos_insertados = 0
proyectos_insertados = 0
notas_insertadas = 0

for _, alumno in df_alumnos.iterrows():
    # Obtener id_clase del alumno
    id_campus = cursor.execute('SELECT id_campus FROM Campus WHERE nombre_campus = ?', 
                                (alumno['Campus'],)).fetchone()[0]
    id_promocion = cursor.execute('SELECT id_promocion FROM Promocion WHERE nombre_promocion = ?', 
                                    (alumno['Promoción'],)).fetchone()[0]
    
    # Para alumnos, necesitamos hacer una suposición sobre modalidad y vertical
    # Opción: tomar la primera clase que coincida con campus y promoción
    id_clase_result = cursor.execute('''
        SELECT id_clase FROM Clase 
        WHERE id_campus = ? AND id_promocion = ?
        LIMIT 1
    ''', (id_campus, id_promocion)).fetchone()
    
    if id_clase_result:
        id_clase = id_clase_result[0]
        
        # Obtener la vertical de esa clase para asignarla a los proyectos
        id_vertical = cursor.execute('''
            SELECT id_vertical FROM Clase WHERE id_clase = ?
        ''', (id_clase,)).fetchone()[0]
        
        # Insertar alumno
        cursor.execute('''
            INSERT OR IGNORE INTO Alumnos (nombre_alumno, email_alumno, id_clase)
            VALUES (?, ?, ?)
        ''', (alumno['Nombre'], alumno['Email'], id_clase))
        
        # Obtener id_alumno
        id_alumno = cursor.execute('SELECT id_alumno FROM Alumnos WHERE email_alumno = ?', 
                                    (alumno['Email'],)).fetchone()[0]
        
        alumnos_insertados += 1
        
        # Insertar proyectos y notas del alumno
        for proyecto_col in proyectos_columnas:
            if pd.notna(alumno[proyecto_col]):
                # Obtener vertical específica para este tipo de proyecto (opcional)
                vertical_proyecto = proyecto_vertical_map.get(proyecto_col)
                id_vertical_proyecto = id_vertical  # Por defecto, la vertical de su clase
                
                if vertical_proyecto:
                    result_vert = cursor.execute(
                        'SELECT id_vertical FROM Vertical WHERE nombre_vertical = ?', 
                        (vertical_proyecto,)
                    ).fetchone()
                    if result_vert:
                        id_vertical_proyecto = result_vert[0]
                
                # Insertar el proyecto individual del alumno
                cursor.execute('''
                    INSERT OR IGNORE INTO Proyectos (nombre_proyecto, id_alumno, id_vertical)
                    VALUES (?, ?, ?)
                ''', (proyecto_col, id_alumno, id_vertical_proyecto))
                
                # Obtener el id_proyecto recién creado
                id_proyecto = cursor.execute('''
                    SELECT id_proyecto FROM Proyectos 
                    WHERE id_alumno = ? AND nombre_proyecto = ?
                ''', (id_alumno, proyecto_col)).fetchone()[0]
                
                proyectos_insertados += 1
                
                # Insertar la nota para ese proyecto
                cursor.execute('''
                    INSERT OR IGNORE INTO Notas (id_alumno, id_proyecto, resultado)
                    VALUES (?, ?, ?)
                ''', (id_alumno, id_proyecto, alumno[proyecto_col]))
                
                notas_insertadas += 1

conexion.commit()
print(f"✓ Insertados {alumnos_insertados} alumnos")
print(f"✓ Insertados {proyectos_insertados} proyectos individuales")
print(f"✓ Insertadas {notas_insertadas} notas")

In [ ]:
"""
# Creamos una lista de tuplas con los datos a insertar
for _, alumno in df_alumnos.iterrows():
    # Obtener id_clase del alumno
    id_campus = cursor.execute('SELECT id_campus FROM Campus WHERE nombre_campus = ?', 
                                (alumno['Campus'],)).fetchone()[0]
    id_promocion = cursor.execute('SELECT id_promocion FROM Promocion WHERE nombre_promocion = ?', 
                                    (alumno['Promoción'],)).fetchone()[0]
    
    # Para alumnos, necesitamos hacer una suposición sobre modalidad y vertical
    # Opción: tomar la primera clase que coincida con campus y promoción
    id_clase_result = cursor.execute('''
        SELECT id_clase FROM Clase 
        WHERE id_campus = ? AND id_promocion = ?
        LIMIT 1
    ''', (id_campus, id_promocion)).fetchone()
    
    if id_clase_result:
        id_clase = id_clase_result[0]
        
        # Insertar alumno
        cursor.execute('''
            INSERT OR IGNORE INTO Alumnos (nombre_alumno, email_alumno, id_clase)
            VALUES (?, ?, ?)
        ''', (alumno['Nombre'], alumno['Email'], id_clase))
        
        # Obtener id_alumno
        id_alumno = cursor.execute('SELECT id_alumno FROM Alumnos WHERE email_alumno = ?', 
                                    (alumno['Email'],)).fetchone()[0]
        
        # Insertar notas de todos los proyectos
        for proyecto_col in proyectos_columnas:
            if pd.notna(alumno[proyecto_col]):
                id_proyecto = cursor.execute('SELECT id_proyecto FROM Proyectos WHERE nombre_proyecto = ?', 
                                            (proyecto_col,)).fetchone()[0]
                
                cursor.execute('''
                    INSERT OR IGNORE INTO Notas (id_alumno, id_proyecto, resultado)
                    VALUES (?, ?, ?)
                ''', (id_alumno, id_proyecto, alumno[proyecto_col]))

conexion.commit()
print(f"✓ Insertados {len(df_alumnos)} alumnos con sus notas")
"""

### Pruebas de Query

In [1]:
# Import para realizar Queries
import sqlite3
import pandas as pd
conexion = sqlite3.connect('Proyecto_SQL.db')
cursor = conexion.cursor()

In [2]:
# Función para realizar queries
def sql_query(query):
    return pd.read_sql(query, conexion)

In [ ]:
# ¿A qué alumnos da clase la profesora Noa Yáñez?
query = '''
select nombre_alumno as Alumno
from Alumnos
join Profesor on clase.id_clase = Profesor.id_clase
join Clase on Alumnos.id_clase = Clase.id_clase
where Profesor.nombre_profesor = "Noa Yáñez"
'''

sql_query(query)

In [ ]:
# ¿A qué modalidad asiste el alumno con id 7?
query = '''
select nombre_alumno as Alumno, nombre_modalidad as Modalidad
from Alumnos
join Modalidad on Clase.id_modalidad = Modalidad.id_modalidad
join Clase on Alumnos.id_clase = Clase.id_clase
where id_alumno = "7"
'''

sql_query(query)

In [ ]:
# ¿Qué notas tiene el alumno con id 10?
query = '''
select nombre_alumno as Alumno, nombre_proyecto as Proyecto, resultado as Nota
from Proyectos
join Alumnos on Proyectos.id_alumno = Alumnos.id_alumno
join Notas on Proyectos.id_proyecto = Notas.id_proyecto
where Alumnos.id_alumno = "10"
'''

sql_query(query)

In [ ]:
# Promociones de Data Science
query = '''
select distinct Promocion.id_promocion, Promocion.nombre_promocion as Promoción, Promocion.fecha_promocion as Fecha
from promocion
join Clase on Promocion.id_promocion = Clase.id_promocion
join Vertical on Clase.id_vertical = Vertical.id_vertical
'''

sql_query(query)

In [ ]:
# Profesores de Online
query = '''
select distinct Profesor.id_profesor as ID_prof, Profesor.nombre_profesor as Nombre, Profesor.rol as Rol, Modalidad.nombre_modalidad as Modalidad
from Profesor
join Clase on Profesor.id_clase = Clase.id_clase
join Modalidad on Clase.id_modalidad = Modalidad.id_modalidad
where Modalidad.nombre_modalidad = "Online"
'''

sql_query(query)

In [ ]:
# Emails de alumnos presenciales
query = '''
select distinct email_alumno
from Alumnos
join Clase on Alumnos.id_clase = Clase.id_clase
join Modalidad on Clase.id_modalidad = Modalidad.id_modalidad
where Modalidad.nombre_modalidad = "Presencial"
'''

sql_query(query)

In [ ]:
# Cerrar la base de datos
conexion.close()
print(f"\n✅ Base de datos 'Proyecto_SQL.db' cerrada exitosamente")