## Importación de librerias

In [11]:
# Importamos sqlite3, la librería estándar de Python para trabajar con bases de datos SQLite
# SQLite es una base de datos embebida que no requiere servidor
import sqlite3

# Importamos datetime para trabajar con fechas y horas
from datetime import datetime

# Importamos pandas para visualizar mejor los resultados
import pandas as pd

# Mensaje de confirmación para saber que todo se importó correctamente
print("Librerías importadas correctamente")

Librerías importadas correctamente

In [12]:
# Creamos la conexión a la base de datos
# sqlite3.connect() crea un archivo .db si no existe o se conecta a uno existente
# Si el archivo 'Proyecto_SQL.db' no existe, se creará automáticamente
conexion = sqlite3.connect('Proyecto_SQL.db')

# Creamos un cursor, que es el objeto que usaremos para ejecutar comandos SQL
# El cursor es como un "puntero" que nos permite navegar y modificar la base de datos
cursor = conexion.cursor()

# Mensajes informativos para confirmar que la conexión fue exitosa
print("Conexión establecida exitosamente")
print(f"Base de datos: Proyecto_SQL.db")

Conexión establecida exitosamente
Base de datos: Proyecto_SQL.db

## Importacion de datos de partida

In [13]:
df_1 = pd.read_csv("./data/clase_1.csv", sep= ";")
df_2 = pd.read_csv("./data/clase_2.csv", sep= ";")
df_3 = pd.read_csv("./data/clase_3.csv", sep= ";")
df_4 = pd.read_csv("./data/clase_4.csv", sep= ";")
df_5 = pd.read_csv("./data/claustro.csv", sep= ";")

In [14]:
df_1.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto

In [15]:
df_2.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto

In [16]:
df_3.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto

In [17]:
df_4.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto

In [18]:
df_5.head()

              Nombre Rol Vertical   Promocion    Campus   Modalidad
0          Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1  Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2         Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3      Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4   Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial

In [19]:
# Merge de los 4 primeros dataframe al tratarse del mismo tipo de información y renombrar df_5
df_alumnos = df_1.merge(df_2, how= 'outer').merge(df_3,how= 'outer').merge(df_4, how= 'outer')
df_profesores = df_5
df_alumnos.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
2,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
3,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
4,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto

## Creación de tablas

#### Campus

In [20]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Campus')

# Creamos la tabla Campus con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Campus (
        id_campus INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_campus VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Campus creada exitosamente")

✓ Tabla Campus creada exitosamente

#### Modalidad

In [21]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Modalidad')

# Creamos la tabla Modalidad con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Modalidad (
        id_modalidad INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_modalidad VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Modalidad creada exitosamente")

✓ Tabla Modalidad creada exitosamente

#### Promocion

In [22]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Promocion')

# Creamos la tabla Promocion con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Promocion (
        id_promocion INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_promocion VCHAR(50) NOT NULL,
        fecha_promocion DATE NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Promocion creada exitosamente")

✓ Tabla Promocion creada exitosamente

#### Profesor

In [23]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Profesor')

# Creamos la tabla Profesor con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Profesor (
        id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
        id_clase INTEGER,
        nombre_profesor VCHAR(50) NOT NULL,
        rol VCHAR(50) NOT NULL,
        FOREIGN KEY (id_clase) REFERENCES Vertical(id_clase) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Profesor creada exitosamente")

✓ Tabla Profesor creada exitosamente

#### Clase

In [24]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Clase')

# Creamos la tabla Clase con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Clase (
        id_clase INTEGER PRIMARY KEY AUTOINCREMENT,
        id_campus INTEGER,
        id_modalidad INTEGER,
        id_promocion INTEGER,
        id_vertical INTEGER,
        FOREIGN KEY (id_campus) REFERENCES Campus(id_campus) ON DELETE CASCADE,
        FOREIGN KEY (id_modalidad) REFERENCES Modalidad(id_modalidad) ON DELETE CASCADE,
        FOREIGN KEY (id_promocion) REFERENCES Promocion(id_promocion) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Clase creada exitosamente")

✓ Tabla Clase creada exitosamente

#### Alumnos

In [25]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Alumnos')

# Creamos la tabla Alumnos con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Alumnos (
        id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_alumno VCHAR(50) NOT NULL,
        email_alumno VCHAR(50) NOT NULL,
        id_clase INTEGER,
        FOREIGN KEY (id_clase) REFERENCES Clase(id_clase) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Alumnos creada exitosamente")

✓ Tabla Alumnos creada exitosamente

#### Proyectos

In [26]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Proyectos')

# Creamos la tabla Proyectos con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Proyectos (
        id_proyecto INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_proyecto VCHAR(50) NOT NULL,
        id_alumno INTEGER,
        id_vertical INTEGER,
        FOREIGN KEY (id_alumno) REFERENCES Clase(id_alumno) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Clase(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Proyectos creada exitosamente")

✓ Tabla Proyectos creada exitosamente

#### Notas

In [27]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Notas')

# Creamos la tabla Notas con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Notas (
        id_nota INTEGER PRIMARY KEY AUTOINCREMENT,
        nota VCHAR(50) NOT NULL,
        id_proyecto INTEGER,
        FOREIGN KEY (id_proyecto) REFERENCES Clase(id_proyecto) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Notas creada exitosamente")

✓ Tabla Notas creada exitosamente

#### Vertical

In [29]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Vertical')

# Creamos la tabla Vertical con SQL usando cursor.execute()
cursor.execute('''
    CREATE TABLE Vertical (
        id_vertical INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_vertical VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Vertical creada exitosamente")

✓ Tabla Vertical creada exitosamente

### Pruebas de Query

In [30]:
# Función para realizar queries
def sql_query(query):
    return pd.read_sql(query, conexion)

In [34]:
query = '''
select nombre_alumno as Nombre
from Campus
join Alumnos on Clase.id_clase = Clase.id_clase
join Clase on Campus.id_campus = Clase.id_campus
where Campus.nombre_campus = Null
'''

sql_query(query)

Empty DataFrame
Columns: [Nombre]
Index: []