## Importación de librerias

In [1]:
# Importamos sqlite3, la librería estándar de Python para trabajar con bases de datos SQLite
# SQLite es una base de datos embebida que no requiere servidor
import sqlite3

# Importamos datetime para trabajar con fechas y horas
# Esto nos permitirá registrar cuándo ocurren eventos (ej: fecha de registro de cliente)
from datetime import datetime

# Importamos pandas para visualizar mejor los resultados (opcional pero recomendado)
# Pandas nos permite mostrar los datos en formato tabla más legible
import pandas as pd

# Mensaje de confirmación para saber que todo se importó correctamente
print("Librerías importadas correctamente")

Librerías importadas correctamente

In [2]:
# Creamos la conexión a la base de datos
# sqlite3.connect() crea un archivo .db si no existe o se conecta a uno existente
# Si el archivo 'Proyecto_SQL.db' no existe, se creará automáticamente
conexion = sqlite3.connect('Proyecto_SQL.db')

# Creamos un cursor, que es el objeto que usaremos para ejecutar comandos SQL
# El cursor es como un "puntero" que nos permite navegar y modificar la base de datos
cursor = conexion.cursor()

# Mensajes informativos para confirmar que la conexión fue exitosa
print("Conexión establecida exitosamente")
print(f"Base de datos: Proyecto_SQL.db")

Conexión establecida exitosamente
Base de datos: Proyecto_SQL.db

## Importacion de datos de partida

In [3]:
df_1 = pd.read_csv("./data/clase_1.csv", sep= ";")
df_2 = pd.read_csv("./data/clase_2.csv", sep= ";")
df_3 = pd.read_csv("./data/clase_3.csv", sep= ";")
df_4 = pd.read_csv("./data/clase_4.csv", sep= ";")
df_5 = pd.read_csv("./data/claustro.csv", sep= ";")

In [ ]:
df_1.head()

In [ ]:
df_2.head()

In [ ]:
df_3.head()

In [ ]:
df_4.head()

In [ ]:
df_5.head()

In [4]:
# Merge de los 4 primeros dataframe al tratarse del mismo tipo de información
df_total = df_1.merge(df_2, how= 'outer').merge(df_3,how= 'outer').merge(df_4, how= 'outer')
df_total.head()

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
2,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
3,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
4,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto

## Creación de tablas

#### Campus

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Campus')

# Creamos la tabla Campus con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Campus (
        id_campus INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_campus VCHAR(50) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Campus creada exitosamente")

#### Profesor

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Profesor')

# Creamos la tabla Profesor con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Profesor (
        id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_profesor VCHAR(100) NOT NULL,
        rol VCHAR(20) NOT NULL
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Profesor creada exitosamente")

#### Vertical

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Vertical')

# Creamos la tabla Vertical con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Vertical (
        id_vertical INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_vertical VCHAR(50) NOT NULL,
        id_proyectos INTEGER NOT NULL,
        FOREIGN KEY (id_proyectos) REFERENCES Proyecto(id_proyectos) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Vertical creada exitosamente")

#### Promoción

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Promocion')

# Creamos la tabla Promocion con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Promocion (
        id_promocion INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_promocion VCHAR(50) NOT NULL,
        fecha_promocion DATE NOT NULL,
        modalidad VCHAR(20) NOT NULL,
        id_campus INTEGER NOT NULL,
        id_profesor INTEGER NOT NULL,
        id_vertical INTEGER NOT NULL,
        FOREIGN KEY (id_campus) REFERENCES Campus(id_campus) ON DELETE CASCADE,
        FOREIGN KEY (id_profesor) REFERENCES Profesor(id_profesor) ON DELETE CASCADE,
        FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Promocion creada exitosamente")

#### Alumno

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Alumno')

# Creamos la tabla Alumno con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Alumno (
        id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre_alumno VCHAR(50) NOT NULL,
        email_alumno VCHAR(100) NOT NULL,
        id_promocion INTEGER NOT NULL,
        FOREIGN KEY (id_promocion) REFERENCES Promocion(id_promocion) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Alumno creada exitosamente")

#### Proyectos

In [ ]:
# Primero eliminamos la tabla si ya existe (útil para reiniciar desde cero)
# DROP TABLE IF EXISTS es una operación segura que no da error si la tabla no existe
cursor.execute('DROP TABLE IF EXISTS Proyectos')

# Creamos la tabla Proyectos con SQL usando cursor.execute()
# Tipos de datos en SQLite:
#   - INTEGER: números enteros
#   - TEXT: cadenas de texto
#   - REAL: números decimales
#   - DATE: fechas
# Restricciones:
#   - PRIMARY KEY: identifica de forma única cada registro
#   - AUTOINCREMENT: genera automáticamente el ID (1, 2, 3, ...)
#   - NOT NULL: el campo no puede estar vacío (es obligatorio)
#   - UNIQUE: no puede haber valores duplicados (ej: dos emails iguales)
cursor.execute('''
    CREATE TABLE Proyectos (
        id_proyectos INTEGER PRIMARY KEY AUTOINCREMENT,
        id_alumno INTEGER NOT NULL,
        proyecto_HLF VCHAR(20),
        proyecto_EDA VCHAR(20),
        proyecto_BBDD VCHAR(20),
        proyecto_ML VCHAR(20),
        proyecto_Deployment VCHAR(20),
        proyecto_WebRev VCHAR(20),
        proyecto_FrontEnd VCHAR(20),
        proyecto_BackEnd VCHAR(20),
        proyecto_React VCHAR(20),
        proyecto_FullStack VCHAR(20),
        FOREIGN KEY (id_alumno) REFERENCES Alumno(id_alumno) ON DELETE CASCADE
    )
''')

# Guardamos los cambios en la base de datos
# commit() hace permanentes los cambios - sin esto, los cambios se pierden
conexion.commit()

print("✓ Tabla Proyectos creada exitosamente")

### Verificar tablas creadas

In [ ]:
# Consultamos la tabla sqlite_master que contiene información sobre todas las tablas
# sqlite_master es una tabla especial del sistema que almacena metadatos
# WHERE type='table' filtra solo las tablas (no vistas, índices, etc.)
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

# fetchall() obtiene todos los resultados de la consulta como una lista de tuplas
tablas = cursor.fetchall()

print("Tablas en la base de datos:")
print("="*40)
# Iteramos sobre cada tabla encontrada
for tabla in tablas:
    # tabla[0] contiene el nombre de la tabla (primera columna del resultado)
    print(f"  • {tabla[0]}")

## Insertar registros

#### Campus

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
campus_intro = [
    ('Madrid',), ('Valencia',)
]

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Campus (nombre_campus)
    VALUES (?)
''', campus_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(campus_intro)} campus insertados correctamente")

#### Profesor

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
profesor_intro = list(df_5[['Nombre', 'Rol']].itertuples(index=False, name=None))

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Profesor (nombre_profesor, rol)
    VALUES (?, ?)
''', profesor_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(profesor_intro)} profesor insertados correctamente")

#### Vertical

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
vertical_intro = 

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Vertical (nombre_vertical, id_proyectos)
    VALUES (?, ?)
''', vertical_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(vertical_intro)} vertical insertados correctamente")

#### Promocion

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
promocion_intro = 

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Promocion (nombre_promocion, fecha_promocion, modalidad, id_campus, id_profesor, id_vertical)
    VALUES (?, ?, ?, ?, ?, ?)
''', promocion_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(promocion_intro)} promocion insertados correctamente")

#### Alumno

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
alumno_intro = 

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Alumno (nombre_alumno, email_alumno, id_promocion)
    VALUES (?, ?, ?)
''', alumno_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(alumno_intro)} alumnos insertados correctamente")

#### Proyectos

In [ ]:
# Creamos una lista de tuplas con los datos de varios clientes
# Cada tupla representa un cliente con sus datos en el mismo orden que las columnas
proyectos_intro = list(df_total.iloc[:, 5:len(df_total)].itertuples(index=False, name=None))

cursor.execute("SELECT id_alumno FROM Alumno WHERE nombre_alumno = ?", ('valor',))
id_foreign_key = cursor.fetchone()[0]

datos_con_fk = [(id_foreign_key,) + tupla for tupla in proyectos_intro]

# executemany() ejecuta la misma consulta múltiples veces con diferentes datos
# Es más eficiente que ejecutar execute() en un bucle
# Inserta todos los clientes de la lista en una sola operación
cursor.executemany('''
    INSERT INTO Proyectos (id_alumno, proyecto_HLF, proyecto_EDA, proyecto_BBDD, proyecto_ML, proyecto_Deployment, 
    proyecto_WebRev, proyecto_FrontEnd, proyecto_BackEnd, proyecto_React, proyecto_FullStack)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', profesor_intro)

# Guardamos todos los cambios a la vez
conexion.commit()

print(f"✓ {len(profesor_intro)} campus insertados correctamente")

In [11]:
df1 = df_total
df2 = df_5


# Conectar a la base de datos
conn = sqlite3.connect('bootcamp.db')
cursor = conn.cursor()


cursor.execute('DROP TABLE IF EXISTS Campus')
cursor.execute('DROP TABLE IF EXISTS Vertical')
cursor.execute('DROP TABLE IF EXISTS Profesor')
cursor.execute('DROP TABLE IF EXISTS Promocion')
cursor.execute('DROP TABLE IF EXISTS Alumno')
cursor.execute('DROP TABLE IF EXISTS Proyectos')


# 1. CREAR TABLAS (en orden sin dependencias primero)

cursor.execute('''
CREATE TABLE IF NOT EXISTS Campus (
    id_campus INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_campus TEXT UNIQUE NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Vertical (
    id_vertical INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_vertical TEXT UNIQUE NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Profesor (
    id_profesor INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_profesor TEXT NOT NULL,
    rol TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Promocion (
    id_promocion INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_promocion TEXT UNIQUE NOT NULL,
    fecha_promocion DATE,
    modalidad TEXT,
    id_campus INTEGER,
    id_profesor INTEGER,
    id_vertical INTEGER,
    FOREIGN KEY (id_campus) REFERENCES Campus(id_campus),
    FOREIGN KEY (id_profesor) REFERENCES Profesor(id_profesor),
    FOREIGN KEY (id_vertical) REFERENCES Vertical(id_vertical)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Alumno (
    id_alumno INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre_alumno TEXT NOT NULL,
    email_alumno TEXT UNIQUE,
    id_promocion INTEGER,
    FOREIGN KEY (id_promocion) REFERENCES Promocion(id_promocion)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Proyectos (
    id_proyectos INTEGER PRIMARY KEY AUTOINCREMENT,
    id_alumno INTEGER,
    Proyecto_HLF TEXT,
    Proyecto_EDA TEXT,
    Proyecto_BBDD TEXT,
    Proyecto_ML TEXT,
    Proyecto_Deployment TEXT,
    Proyecto_WebDev TEXT,
    Proyecto_FrontEnd TEXT,
    Proyecto_Backend TEXT,
    Proyecto_React TEXT,
    Proyecto_FullStack TEXT,
    FOREIGN KEY (id_alumno) REFERENCES Alumno(id_alumno)
)
''')

# 2. INSERTAR CAMPUS
campus_unicos = pd.concat([df1['Campus'], df2['Campus']]).unique()
for campus in campus_unicos:
    if pd.notna(campus):
        cursor.execute('INSERT OR IGNORE INTO Campus (nombre_campus) VALUES (?)', (campus,))

# 3. INSERTAR VERTICALES
verticales_unicas = df2['Vertical'].unique()
for vertical in verticales_unicas:
    if pd.notna(vertical):
        cursor.execute('INSERT OR IGNORE INTO Vertical (nombre_vertical) VALUES (?)', (vertical,))

# 4. INSERTAR PROFESORES
profesores = df2[['Nombre', 'Rol']].drop_duplicates()
for _, row in profesores.iterrows():
    cursor.execute('''
        INSERT OR IGNORE INTO Profesor (nombre_profesor, rol) 
        VALUES (?, ?)
    ''', (row['Nombre'], row['Rol']))

# 5. INSERTAR PROMOCIONES
# Combinar datos de df1 y df2 para tener info completa de cada promoción
promociones_df1 = df1[['Promoción', 'Fecha_comienzo', 'Campus']].drop_duplicates()
promociones_df2 = df2[['Promocion', 'Campus', 'Vertical', 'Modalidad', 'Nombre']].drop_duplicates()

# Iterar sobre las promociones únicas
for promocion in promociones_df1['Promoción'].unique():
    # Obtener datos de df1
    promo_df1 = promociones_df1[promociones_df1['Promoción'] == promocion].iloc[0]
    
    # Obtener datos de df2 (puede haber múltiples filas por promoción)
    promo_df2 = promociones_df2[promociones_df2['Promocion'] == promocion].iloc[0]
    
    # Obtener IDs de las FKs
    cursor.execute('SELECT id_campus FROM Campus WHERE nombre_campus = ?', (promo_df1['Campus'],))
    id_campus = cursor.fetchone()[0]
    
    cursor.execute('SELECT id_vertical FROM Vertical WHERE nombre_vertical = ?', (promo_df2['Vertical'],))
    id_vertical = cursor.fetchone()[0]
    
    cursor.execute('SELECT id_profesor FROM Profesor WHERE nombre_profesor = ?', (promo_df2['Nombre'],))
    id_profesor = cursor.fetchone()[0]
    
    # Insertar promoción
    cursor.execute('''
        INSERT OR IGNORE INTO Promocion 
        (nombre_promocion, fecha_promocion, modalidad, id_campus, id_profesor, id_vertical) 
        VALUES (?, ?, ?, ?, ?, ?)
    ''', (promocion, promo_df1['Fecha_comienzo'], promo_df2['Modalidad'], 
          id_campus, id_profesor, id_vertical))

# 6. INSERTAR ALUMNOS
for _, row in df1.iterrows():
    cursor.execute('SELECT id_promocion FROM Promocion WHERE nombre_promocion = ?', (row['Promoción'],))
    result = cursor.fetchone()
    
    if result:
        id_promocion = result[0]
        cursor.execute('''
            INSERT OR IGNORE INTO Alumno (nombre_alumno, email_alumno, id_promocion) 
            VALUES (?, ?, ?)
        ''', (row['Nombre'], row['Email'], id_promocion))

# 7. INSERTAR PROYECTOS
for _, row in df1.iterrows():
    cursor.execute('SELECT id_alumno FROM Alumno WHERE email_alumno = ?', (row['Email'],))
    result = cursor.fetchone()
    
    if result:
        id_alumno = result[0]
        cursor.execute('''
            INSERT INTO Proyectos 
            (id_alumno, Proyecto_HLF, Proyecto_EDA, Proyecto_BBDD, Proyecto_ML, 
             Proyecto_Deployment, Proyecto_WebDev, Proyecto_FrontEnd, Proyecto_Backend, 
             Proyecto_React, Proyecto_FullStack) 
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', (id_alumno, row['Proyecto_HLF'], row['Proyecto_EDA'], row['Proyecto_BBDD'], 
              row['Proyecto_ML'], row['Proyecto_Deployment'], row['Proyecto_WebDev'], 
              row['Proyecto_FrontEnd'], row['Proyecto_Backend'], row['Proyecto_React'], 
              row['Proyecto_FullSatck']))

conn.commit()

print("¡Base de datos creada exitosamente!")

¡Base de datos creada exitosamente!

In [12]:
conn = sqlite3.connect('bootcamp.db')
cursor = conn.cursor()

# Ver cuántos registros hay en cada tabla
tablas = ['Campus', 'Vertical', 'Profesor', 'Promocion', 'Alumno', 'Proyectos']
for tabla in tablas:
    cursor.execute(f'SELECT COUNT(*) FROM {tabla}')
    print(f"{tabla}: {cursor.fetchone()[0]} registros")

Campus: 2 registros
Vertical: 2 registros
Profesor: 10 registros
Promocion: 2 registros
Alumno: 52 registros
Proyectos: 52 registros

In [7]:
def sql_query(query):
    return pd.read_sql(query, conn)

In [13]:
query = '''
select *
from Campus
'''

sql_query(query)

   id_campus nombre_campus
0          1        Madrid
1          2      Valencia

In [14]:
query = '''
select *
from Vertical
'''

sql_query(query)

   id_vertical nombre_vertical
0            1              DS
1            2              FS

In [15]:
query = '''
select *
from Profesor
'''

sql_query(query)

   id_profesor     nombre_profesor rol
0            1           Noa Yáñez  TA
1            2   Saturnina Benitez  TA
2            3          Anna Feliu  TA
3            4       Rosalva Ayuso  TA
4            5    Ana Sofía Ferrer  TA
5            6     Angélica Corral  TA
6            7         Ariel Lledó  TA
7            8         Mario Prats  LI
8            9   Luis Ángel Suárez  LI
9           10  María Dolores Diaz  LI

In [16]:
query = '''
select *
from Promocion
'''

sql_query(query)

,id_promocion,nombre_promocion,fecha_promocion,modalidad,id_campus,id_profesor,id_vertical
0,1,Septiembre,18/09/2023,Presencial,1,1,1
1,2,Febrero,12/02/2024,Presencial,2,5,2

In [17]:
query = '''
select *
from Alumno
'''

sql_query(query)

,id_alumno,nombre_alumno,email_alumno,id_promocion
0,1,Abraham Vélez,Abraham_Vélez@gmail.com,1
1,2,Aitana Sebastián,Aitana_Sebastián@gmail.com,1
2,3,Albino Macias,Albino_Macias@gmail.com,1
3,4,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,2
4,5,Amor Larrañaga,Amor_Larrañaga@gmail.com,1
5,6,Anita Heredia,Anita_Heredia@gmail.com,1
6,7,Carlito Carrión,Carlito_Carrión@gmail.com,2
7,8,Chita Mancebo,Chita_Mancebo@gmail.com,2
8,9,Clementina Santos,Clementina_Santos@gmail.com,1
9,10,Cleto Montes,Cleto_Montes@gmail.com,2
10,11,Cleto Plana,Cleto_Plana@gmail.com,1
11,12,Cristian Sarabia,Cristian_Sarabia@gmail.com,2
12,13,Daniel Rosselló,Daniel_Rosselló@gmail.com,2
13,14,Daniela Falcó,Daniela_Falcó@gmail.com,1
14,15,Daniela Guitart,Daniela_Guitart@gmail.com,2
15,16,Desiderio Jordá,Desiderio_Jordá@gmail.com,2
16,17,Dolores Valbuena,Dolores_Valbuena@gmail.com,1
17,18,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,1
18,19,Eli Casas,Eli_Casas@gmail.com,1
19,20,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,2
20,21,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,2
21,22,Ester Sánchez,Ester_Sánchez@gmail.com,1
22,23,Estrella Murillo,Estrella_Murillo@gmail.com,2
23,24,Flavia Amador,Flavia_Amador@gmail.com,1
24,25,Guillermo Borrego,Guillermo_Borrego@gmail.com,2
25,26,Haydée Figueroa,Haydée_Figueroa@gmail.com,2
26,27,Heraclio Duque,Heraclio_Duque@gmail.com,1
27,28,Herberto Figueras,Herberto_Figueras@gmail.com,1
28,29,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,1
29,30,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,2
30,31,Jafet Casals,Jafet_Casals@gmail.com,1
31,32,Joaquina Asensio,Joaquina_Asensio@gmail.com,2
32,33,Jorge Manzanares,Jorge_Manzanares@gmail.com,1
33,34,Julie Ferrer,Julie_Ferrer@gmail.com,1
34,35,Leoncio Tena,Leoncio_Tena@gmail.com,1
35,36,Loida Arellano,Loida_Arellano@gmail.com,1
36,37,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,1
37,38,Marino Castilla,Marino_Castilla@gmail.com,2
38,39,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,1
39,40,Merche Prada,Merche_Prada@gmail.com,1
40,41,Mireia Cabañas,Mireia_Cabañas@gmail.com,1
41,42,Noemí Vilanova,Noemí_Vilanova@gmail.com,2
42,43,Odalys Torrijos,Odalys_Torrijos@gmail.com,1
43,44,Onofre Adadia,Onofre_Adadia@gmail.com,1
44,45,Pilar Abella,Pilar_Abella@gmail.com,1
45,46,Ricarda Tovar,Ricarda_Tovar@gmail.com,2
46,47,Rita Olivares,Rita_Olivares@gmail.com,2
47,48,Rosalina Llanos,Rosalina_Llanos@gmail.com,2
48,49,Sergio Aguirre,Sergio_Aguirre@gmail.com,2
49,50,Teodoro Alberola,Teodoro_Alberola@gmail.com,1
50,51,Teresa Laguna,Teresa_Laguna@gmail.com,2
51,52,Timoteo Trillo,Timoteo_Trillo@gmail.com,2

In [18]:
query = '''
select *
from Proyectos
'''

sql_query(query)

,id_proyectos,id_alumno,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullStack
0,1,1,Apto,No Apto,No Apto,Apto,Apto,None,None,None,None,None
1,2,2,None,None,None,None,None,Apto,No Apto,Apto,No Apto,Apto
2,3,3,None,None,None,None,None,No Apto,Apto,Apto,Apto,Apto
3,4,4,None,None,None,None,None,No Apto,No Apto,No Apto,Apto,Apto
4,5,5,None,None,None,None,None,Apto,Apto,Apto,Apto,No Apto
5,6,6,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
6,7,7,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
7,8,8,No Apto,Apto,No Apto,Apto,Apto,None,None,None,None,None
8,9,9,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
9,10,10,None,None,None,None,None,Apto,Apto,No Apto,Apto,Apto
10,11,11,None,None,None,None,None,Apto,No Apto,Apto,No Apto,Apto
11,12,12,Apto,Apto,No Apto,Apto,Apto,None,None,None,None,None
12,13,13,None,None,None,None,None,No Apto,No Apto,Apto,No Apto,No Apto
13,14,14,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
14,15,15,None,None,None,None,None,Apto,No Apto,No Apto,Apto,Apto
15,16,16,No Apto,Apto,No Apto,No Apto,Apto,None,None,None,None,None
16,17,17,None,None,None,None,None,Apto,Apto,Apto,Apto,No Apto
17,18,18,No Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
18,19,19,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
19,20,20,None,None,None,None,None,Apto,Apto,Apto,Apto,Apto
20,21,21,None,None,None,None,None,Apto,Apto,No Apto,No Apto,Apto
21,22,22,None,None,None,None,None,No Apto,Apto,Apto,No Apto,Apto
22,23,23,None,None,None,None,None,Apto,Apto,No Apto,Apto,Apto
23,24,24,None,None,None,None,None,Apto,Apto,No Apto,Apto,Apto
24,25,25,Apto,No Apto,No Apto,Apto,No Apto,None,None,None,None,None
25,26,26,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
26,27,27,None,None,None,None,None,Apto,Apto,No Apto,No Apto,No Apto
27,28,28,None,None,None,None,None,Apto,Apto,Apto,Apto,Apto
28,29,29,Apto,Apto,Apto,No Apto,Apto,None,None,None,None,None
29,30,30,No Apto,Apto,No Apto,Apto,Apto,None,None,None,None,None
30,31,31,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
31,32,32,No Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
32,33,33,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
33,34,34,None,None,None,None,None,No Apto,No Apto,No Apto,Apto,No Apto
34,35,35,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
35,36,36,None,None,None,None,None,Apto,Apto,Apto,Apto,Apto
36,37,37,None,None,None,None,None,No Apto,Apto,Apto,Apto,Apto
37,38,38,None,None,None,None,None,No Apto,No Apto,Apto,No Apto,No Apto
38,39,39,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
39,40,40,Apto,No Apto,No Apto,Apto,No Apto,None,None,None,None,None
40,41,41,None,None,None,None,None,No Apto,Apto,Apto,Apto,Apto
41,42,42,None,None,None,None,None,Apto,No Apto,No Apto,Apto,Apto
42,43,43,No Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
43,44,44,Apto,Apto,Apto,No Apto,Apto,None,None,None,None,None
44,45,45,Apto,No Apto,Apto,Apto,Apto,None,None,None,None,None
45,46,46,None,None,None,None,None,Apto,Apto,Apto,Apto,Apto
46,47,47,None,None,None,None,None,No Apto,No Apto,No Apto,Apto,Apto
47,48,48,Apto,Apto,Apto,Apto,Apto,None,None,None,None,None
48,49,49,Apto,No Apto,Apto,Apto,No Apto,None,None,None,None,None
49,50,50,None,None,None,None,None,No Apto,No Apto,Apto,No Apto,Apto
50,51,51,None,None,None,None,None,Apto,Apto,Apto,Apto,Apto
51,52,52,None,None,None,None,None,No Apto,Apto,Apto,Apto,No Apto